body {
	margin: 0px;
	padding: 0px;
}

.header {
	height: 50px;
	width: 100vw;
	position: fixed;
	top: 0px;
	z-index: 9999;
	background-color: #5787d7;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	align-content: center;
	font-family: Arial, Helvetica, sans-serif
}

.header h2 {
	margin-left: 5px;
}

.body-wrapper {
	position: fixed;
	top: 50px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.cal-head {
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.cal-head h2 {
	width: auto;
	margin: 0px;
	padding: 0px;
}

#cal-body {
	max-width: 100%;
	min-width: 100%
	display: flex;
	flex-grow: 1;
}

.cal-week {
	width: 100%;
	display: flex;
	height: auto;
}

.calendar-block {
	max-width: 14.2857142857%;
	min-width: 14.2857142857%;
	margin:0px;
	display: inline-block;
	text-align: right;
	min-height: 16.666666666666668%;
	max-height: 16.666666666666668%;
	padding: 0px;
}

.calendar-block:hover {
	outline: 2px solid #5787d7;
	z-index: 6;
}

.week-header:hover {
	outline: 2px solid #5787d7;
	z-index: 6;
}

.week-header {
	text-align: center;
	background-color: #f0f0f0;
	max-width: 14.2857142857%;
	min-width: 14.2857142857%;
	border: 0px;
	display: inline-block;
}

.back-arrow {
	cursor: pointer;
}

.for-arrow {
	cursor: pointer;
}

#menu {
	cursor: pointer;
}

#sidebar {
	width: 50%;
	position: fixed;
	left: 0;
	top: 50px;
	height: 100%;
	z-index: 9999;
	background-color: white;
}

#shader {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 50;
	z-index: 9998;
	visibility: hidden;
}
