body {
	margin: 0px;
	padding: 0px;
}

.header {
	height: 50px;
	width: 100vw;
	position: fixed;
	top: 0px;
	z-index: 9999;
	background-color: #5787d7;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	align-content: center;
	font-family: Arial, Helvetica, sans-serif
}

.header h2 {
	margin-left: 5px;
}

.body-wrapper {
	position: fixed;
	top: 50px;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.cal-head {
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.cal-head h2 {
	width: auto;
	margin: 0px;
	padding: 0px;
}

.cal-body {
	width: 100%;
	display: flex;
}

.cal-week {
	width: 100%;
	display: flex;
}

.calendar-block {
	width: calc(100% / 7);
	min-width: auto;
}

.calendar-block:hover {
	outline: 2px solid #5787d7;
	z-index: 6;
}

.week-header {
	text-align: center;
	background-color: #f0f0f0;
}
