body {
	margin: 0px;
	padding: 0px;
}

.header {
	height: 50px;
	width: 100vw;
	position: fixed;
	top: 0px;
	z-index: 9999;
	background-color: #5787d7;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	align-content: center;
	font-family: Arial, Helvetica, sans-serif;
}

#dots {
	cursor: pointer;
	margin-right: 5px;
}

#home {
	cursor: pointer;
}

.header div {
	display:flex;
}

.header h2 {
	margin-left: 5px;
}

.body-wrapper {
	position: fixed;
	top: 50px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.cal-head {
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.cal-head h2 {
	width: auto;
	margin: 0px;
	padding: 0px;
}

#cal-body {
	max-width: 100%;
	min-width: 100%
	display: flex;
	flex-grow: 1;
}

.cal-week {
	width: 100%;
	display: flex;
	height: auto;
}

.calendar-block {
	max-width: 14.2857142857%;
	min-width: 14.2857142857%;
	margin:0px;
	display: inline-block;
	text-align: right;
	min-height: 14%;
	max-height: 14%;
	padding: 0px;
	outline: 1px solid #f0f0f0;
	cursor:pointer;
}

.ivos {
	border-top: 2px solid #2755a5;
}

.tio {
	border-top: 2px solid #c63636;
}

.calendar-block:hover {
	outline: 2px solid #5787d7;
	z-index: 9996;
}

.week-header:hover {
	outline: 2px solid #5787d7;
	z-index: 9996;
}

.week-header {
	text-align: center;
	background-color: #f0f0f0;
	max-width: 14.2857142857%;
	min-width: 14.2857142857%;
	border: 0px;
	display: inline-block;
}

.back-arrow {
	cursor: pointer;
}

.for-arrow {
	cursor: pointer;
}

#menu {
	cursor: pointer;
}

#dot-menu {
	width: 50%;
	height: auto;
	background-color: white;
	z-index: 9998;
	position: fixed;
	right: 0;
	top: 50px;
	border-radius: 0 0 0 5px;
	box-shadow: -3px 3px 10px #000000;
}

#dot-menu h3 {
	display: inline-block;
}

#sidebar {
	min-width: 75%;
	max-width: auto;
	position: fixed;
	left: 0;
	top: 50px;
	height: 100%;
	z-index: 9998;
	background-color: #f0f0f0;;
}

#date-info {
	height: 25%;
	max-width: auto;
	min-width: 100%;
	background-color: white;
	position: absolute;
	top: 0px;
	font-family: Arial, Helvetica, sans-serif;
	text-indent: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#date-info h2, h3 {
	margin: 0px;
}

#shader {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 50;
	z-index: 9997;
	visibility: hidden;
}

#shader-two {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 50;
	z-index: 9997;
}

.today {
	background-color: #abc3eb;
}

#day-show {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	align-items: center;
	align-content: cneter;
	justify-content: center;
	z-index: 99999;
}

#day-modal {
	height: 90%;
	width: 90%;
	background-color: white;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

#day-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

#day-close {
	cursor: pointer;
	font-weight: bold;
	font-size: 30px;
	width: 95%;
	text-align: right;
	margin: 0px;
	margin-right: 5px;
}

#event-form h2 {
	text-align: center;
}

#event-submit {
	border: 1px solid #5787d7;
	border-radius: 5px;
	background-color: white;
	color: #5787d7;
	padding: 5px;
	cursor: pointer;
}

#event-submit:hover {
	background-color: #5787d7;
	color: white;
}








